<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <script src="/app.js"></script>
    <title>hami app</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>

          <li><a href="#">Login</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Employee Time Overview</h1>
      <ul>
        <li class>
          <p>Employee 1</p>
          <p>Start Date</p>
          <p>End Date</p>
          <p>Hours</p>
        </li>

        <li>
          <p>Employee 2</p>
          <p>Start Date</p>
          <p>End Date</p>
          <p>Hours</p>
        </li>

        <li>
          <p>Employee 3</p>
          <p>Start Date</p>
          <p>End Date</p>
          <p>Hours</p>
        </li>

        <li>
          <p>Employee 4</p>
          <p>Start Date</p>
          <p>End Date</p>
          <p>Hours</p>
        </li>
      </ul>
    </main>
    <footer>
      <p>&copy; 2023 Hami's Website</p>
    </footer>
  </body>
</html>
